# For file percentages, do not take into account the files in rdb or PLpgSQL files using github linguist

*.sql linguist-vendored=false
*.PLSQL linguist-vendored=false
*.PLpgSQL linguist-vendored=false
*.pgsql linguist-vendored=false
*.db linguist-vendored=false
RDB/* linguist-vendored=false