# Exclude specific file types from language statistics
*.sql linguist-vendored
*.PLSQL linguist-vendored
*.PLpgSQL linguist-vendored
*.pgsql linguist-vendored
*.db linguist-vendored

# Exclude files in the RDB directory from language statistics
RDB/* linguist-vendored
