name: Java CI

on:
  push:
    branches:
      - master
      - Workflows
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up JDK 21.0.2
      uses: actions/setup-java@v2
      with:
        java-version: '21.0.2'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn -f java-project/pom.xml -DskipTests clean compile